### integer

In [86]:
import re
import datetime

In [ ]:
datetime.datetime.now().strftime("%Y-%m-%dT")

In [9]:
print(10, type(10))
print(100,type(100))

10 <class 'int'>
100 <class 'int'>

### Float

In [10]:
print(3.14, type(3.14))

3.14 <class 'float'>

In [13]:
type(10.0), type(10.), type(.1)

(float, float, float)

### Complex

In [14]:
complex(1, 10)

(1+10j)

### string

In [15]:
print("hacktiv8", type("hacktiv8"))

hacktiv8 <class 'str'>

In [16]:
"ini string", 'ini juga string', """ini juga string""", '''dan ni jg string'''

('ini string', 'ini juga string', 'ini juga string', 'dan ni jg string')

In [17]:
print("""ini baris pertama
ini baris kedua, dan bisa lanjut sampai baris berikutnya
ini baris ketiga...
selesai""")

ini baris pertama
ini baris kedua, dan bisa lanjut sampai baris berikutnya
ini baris ketiga...
selesai

In [25]:
str(1)

'1'

In [26]:
print(1,str(1))

1 1

### string manipulation

In [60]:
bank_name ="mandiri"
status = "bank"
print(status + " " + bank_name)
batch = " 45"
print(bank_name + batch)
print(bank_name + str(45))
print((bank_name+" ")*5 + batch)

bank mandiri
mandiri 45
mandiri45
mandiri mandiri mandiri mandiri mandiri  45

In [63]:
bank_name = "bank mandiri"
print("bank" in bank_name)
print("mandiri" in bank_name)
print("hacktiv8" in bank_name)
print(" " in bank_name)

True
True
False
True

In [64]:
bank_name.capitalize()

'Bank mandiri'

In [68]:
bank_name[0:5]

'bank '

In [69]:
bank_name

'bank mandiri'

In [78]:
bank_name[-1]

'i'

In [76]:
bank_name[-7:-1]

'mandir'

In [75]:
bank_name[-7:]

'mandiri'

In [83]:
user_id = "jkt_2020.11.11-012380"
print(user_id[2:-7])

t_2020.11.11

In [88]:
import re

In [89]:
re.sub(r"jkt_", "", user_id)

'2020.11.11-012380'

In [71]:
len(bank_name)

12

### Boolean

In [19]:
print(False, type(False),True, type(False))

False <class 'bool'> True <class 'bool'>

In [20]:
print(bool(0), bool(1))

False True

In [23]:
print(bool(11), bool(-11), bool(.01), bool (-999.1983), bool(0.000))

True True True True False

In [22]:
print ("segala macam integer akan jadi True")

segala macam integer akan jadi True

In [24]:
print (bool("hacktiv8"), bool(""))

True False

### Variable
javascript -> came1case ->e.g. namavariabel,numvariable
phyton -> snake_case->e.g. nama_variable,num_variabel,count_success
        ->readable-> not recommended: x,nv,a,i

In [28]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [31]:
nama_variabel=100
print("nilai variabel:",nama_variabel)

nilai variabel: 100

In [37]:
height = 640
width = 640
print(height, width)

640 640

In [35]:
height = width = axis = 64
print(height, width, axis)

64 64 64

In [38]:
print(height)

640

In [39]:
name_title = "Hacktiv8"
name_lower = "hacktiv8"
name_title == name_lower

False

In [40]:
_nama_ketua = "hacktiv"
print(_nama_ketua)

hacktiv

In [41]:
9_nama = "what?"

SyntaxError: invalid decimal literal (<ipython-input-41-6e9435d070b1>, line 1)

In [44]:
AGE = 20
print(AGE)
AGE +=1
print(AGE)
age = AGE
age +=1
print(age)

20
21
22

In [45]:
print, complex, str # function

(<function print>, complex, str)

In [46]:
name_title.upper()

'HACKTIV8'

### mathematical operations

In [47]:
a = 10
b = 20
c = 30
print(a,b,c)

10 20 30

In [51]:
print(a+b)
print(a+(b*c), a+b*c)
print(a/b, a//b, 10/4, 10//4)

30
610 610
0.5 0 2.5 2

In [52]:
print (a ** 2)
print (b % 3)

100
2

### comparison operator

In [54]:
print (a == b, a <= b, a <= b, a != b )

False True True True

### List
bisa ganti

In [4]:
int_list = [1,2,3]
print (int_list)
str_list = ["python", "intro"]
print(str_list)
mixed_list=[1,1.1,"intro", True]
print(mixed_list)
abc_list=["a","b","c"]
print(abc_list)

[1, 2, 3]
['python', 'intro']
[1, 1.1, 'intro', True]
['a', 'b', 'c']

In [12]:
print((mixed_list[0]),mixed_list[-len(mixed_list)]) #indexing
print(abc_list[0:2], abc_list[-len(abc_list):2-len(abc_list)]) #slicing

1 1
['a', 'b'] ['a', 'b']

In [9]:
print(int_list)
int_list[-1]*=10
print(int_list)

[1, 2, 3]
[1, 2, 30]

In [11]:
print(mixed_list)
mixed_list.append('python')
print(mixed_list)

[1, 1.1, 'intro', True, 'python']
[1, 1.1, 'intro', True, 'python', 'python']

### Tuple
immutable
gakbisa ganti

In [30]:
coord = (110, 0.98)
print(coord, type (coord))
tuple_from_list = tuple(mixed_list)
print(tuple_from_list, type (tuple_from_list))

(110, 0.98) <class 'tuple'>
(1, 1.1, 'intro', True, 'python', 'python') <class 'tuple'>

In [15]:
print(coord[::-1])
print(tuple_from_list[::-1])

(0.98, 110)
('python', 'python', True, 'intro', 1.1, 1)

In [33]:
print(coord)

(110, 0.98)

In [21]:
course_name = "intro to python"
print(course_name, course_name[-1])
print(course_name)

intro to python n
intro to python

In [23]:
names = {"eza", "tiurma","septy","yoanita","idfi","windi"}
print(names, type(names))

{'eza', 'idfi', 'septy', 'tiurma', 'yoanita', 'windi'} <class 'set'>

In [22]:
duplicated_list = [1,2,3,4,2,3,5,6,2,3]
print("length of list:", len(duplicated_list), duplicated_list)
unique_list = set(duplicated_list)
print("num of unique values:", unique_list)

length of list: 10 [1, 2, 3, 4, 2, 3, 5, 6, 2, 3]
num of unique values: {1, 2, 3, 4, 5, 6}

### dictionary

In [24]:
dict_height = {"jack": 167, "ryan": 190, "paul": 182}
print(dict_height, type(dict_height))

{'jack': 167, 'ryan': 190, 'paul': 182} <class 'dict'>

In [25]:
print("jack's height:", dict_height["jack"])
print("ryan's height:", dict_height["ryan"])

jack's height: 167
ryan's height: 190

In [26]:
dict_transactions = {"id": [1,2,3], "name": ["jack","ryan"], "amount": [100,88,99]}
print(dict_transactions)

{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [100, 88, 99]}

In [38]:
print(dict_transactions["name"][::-1])
print(dict_transactions["amount"][1:])
dict_transactions["amount"]=[110,95]
print(dict_transactions)

['ryan', 'jack']
[88, 99]
{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [110, 95]}

In [41]:
dict_transactions["coord"]=[0][0]
print(dict_transactions)

{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [110, 95], 'coord': 0}

In [42]:
dict_transactions.keys(), dict_transactions.values()

(dict_keys(['id', 'name', 'amount', 'coord']),
 dict_values([[1, 2, 3], ['jack', 'ryan'], [110, 95], 0]))

In [43]:
dict_transactions.items()

dict_items([('id', [1, 2, 3]), ('name', ['jack', 'ryan']), ('amount', [110, 95]), ('coord', 0)])

In [44]:
dict_transactions["age"]

KeyError: 'age'

In [45]:
dict_transactions.get("amount")

[110, 95]

In [48]:
dict_transactions.get("age", "not found")

'not found'